@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

:root {
    --color-background: #121212;
    --color-background-mask: rgba(18,18,18,0.5);
    --color-border: #1d202a;
    --color-accent: #4cc45c;
    --color-accent-hover: #4cc45c;
    --color-text: #aaa;
    --color-text-hover: #ffffff;
}

@theme {
    --font-display: "Inter", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";
    --color-background: var(--color-background);
    --color-background-mask: var(--color-background-mask);
    --color-border: var(--color-border);
    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);
    --color-text: var(--color-text);
    --color-text-hover: var(--color-text-hover);
}

.content {
    max-width: 680;
    margin: 0 auto;
}

h1 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    line-height: normal;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    line-height: normal;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    line-height: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ddd;
}

strong {
    color: #fff;
    font-weight: 900;
}