@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  --color-background: #050505;
  --color-border: #1d202a;
  --color-accent: #d271ff;
  --color-accent-hover: #d98dfc;
  --color-text: #bbbbbb;
  --color-text-hover: #ffffff;
}

@theme {
  --font-display: "Inter", "sans-serif";
  --font-roboto: "Roboto", "sans-serif"; 
  --color-background: var(--color-background);
  --color-border: var(--color-border);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-text: var(--color-text);
  --color-text-hover: var(--color-text-hover);
}

.content {
  max-width: 1500;
  margin: 0 auto;
}

a {
  color: #4cc45c;
  font-weight: 800;
}

a:hover {
  color: #a5ffb1;
  font-weight: 800;
}